@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
}

/* h2{
    font-style: italic;
    color: black ;
    font-size: 60px;
    font-weight: lighter;
    background-color: brown;
    text-align: left;
    text-decoration: none;
    text-transform: lowercase;
} */

.hello{
    color: red;
    position: absolute;
} 



#titleUN{
    color: blue;
} */

.main-container{
    color: red;
}
